.card-container {
  height: 400px;
  width: 300px;
  border-radius: 12px;
  background-color: blanchedalmond;
}

.image-container {
  height: 80%;
  background-color: cadetblue;
  border-radius: inherit;
  background-size: cover;
}

.spots-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info {
  display: flex;
  justify-content: space-between;
}
