.section-main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
  background-image: url('https://a0.muscache.com/im/pictures/53e51dcb-8fad-4ce8-b61c-8a7a369267bf.jpg?im_w=2560');
  /*
    https://a0.muscache.com/im/pictures/53e51dcb-8fad-4ce8-b61c-8a7a369267bf.jpg?im_w=2560
    https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560
  */
  background-size: cover;
  background-position: bottom;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 140px;
  margin-bottom: 7%;
}

.cta-header {
  font-size: 18px;
  font-weight: 600;
}

.cta-header {
	white-space: pre-line;
	max-width: 100%;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -0.96px;
	line-height: 54px;
	color:white;
	-webkit-line-clamp: none;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  border-radius: 54px;
  background-color: white;
  text-align: center;
  box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px 0px;
}

.cta-btn:hover {
  background-color: rgb(247, 247, 247);
}

.cta-btn:focus {
  transform: scale(.94);
  transition: transform 0.2s;
}

.cta-btn-text {
  background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 600;
}


.section-about {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.about-links {
  display: flex;
}
.about-links > svg {
  margin-right: 5px;
}

@keyframes moveToRight {
  0% {
    opacity: 0%;
    transform: translateX(-500px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0%;
    transform: translateX(500px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
