.border-top {
  border-top: 1px solid #DCDEDD;
}

.border-gray {
  border: 1px solid rgb(221, 221, 221);
}

.border-dotted-gray {
  border: 1px dashed rgb(176, 176, 176);
}

.border3px {
  border-width: 3px;
}

.border-dashed {
  border-style: dashed;
}

.radius-2 {
  border-radius: 2px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-8 {
  border-radius: 8px;
}

.radius-12 {
  border-radius: 12px;
}

.radius-100 {
  border-radius: 100%;
}

.hover-shadow-black:hover {
  box-shadow: black 0px 0px 0px 2px;
}

.hover-border-green:hover {
  border-color: #009E74;
}
