.border-top {
  border-top: 1px solid #DCDEDD;
}

.border-bottom {
  border-bottom: 1px solid #DCDEDD;
}

.border-bottom-gray {
  border-bottom: 1px solid #E8E8E8;
}

.border-gray {
  border: 1px solid rgb(221, 221, 221);
}

.border-gray-500 {
  border: 1px solid #DCDEDD;
}

.border-left {
  border-left: 1px solid #DCDEDD;
}

.border3px {
  border-width: 3px;
}

.border-dashed {
  border-style: dashed;
}

.radius-2 {
  border-radius: 2px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-12 {
  border-radius: 12px;
}

.radius-100 {
  border-radius: 100%;
}


.hover-border-green:hover {
  border-color: #009E74;
}
